DirectoryIndex index.php
<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.php [L]

</IfModule>

<Files "obec_kod_nazev.db">
  Order Deny,Allow
  Deny from all
</Files>